.navigation-menu {
    overflow: hidden;
    background-color: #333;
}

.navigation-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navigation-menu a:hover {
    background-color: #ddd;
    color: black;
}